*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: "Roboto_Slab";
    src: url("../../public/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}
body{
    width:100%;
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    background-image: url("../../public/imgBg/8.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition:all ease 1s;
    /* opacity:0; */
    font-family: Roboto_Slab;
}
main{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items:center;
    width:100%;
    max-width: 1300px;
}
article{
    width:100%;
    background-position: center center;
    min-height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


nav{
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-items:center;
    width:100%;
    max-width:1300px;
    flex-direction: column;
    height: 130px;
    flex-wrap:wrap;
}
nav::before{
    content: " ";
    display: block;
    width:100%;
        height: 130px;
    z-index: -1;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.438);
}
nav > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-items:center;
    width:100%;
    max-width: 1300px;
    min-height: 100px;
}
 nav > div > strong > a{
    font-size: 33px;
    font-weight: bold;
    text-transform:capitalize;
    text-decoration:none;
    color:white;
 }
 body > main > article > nav > div > a{
    width:100%;
    max-width: 150px;
 }
body > main > article > nav > div > a > button{
    width:100%;
    max-width:150px;
    min-height: 25px;
    background-color: #f5d76e;
    border-radius: 17px;
    transition:all ease 1s;
}
body > main > article > nav > div > a > button:hover{
    color:#f5d76e;
    background-color: black;
}
body > main > article > nav > div > a{
    color:white;
    text-decoration: none;
    transition:all ease 1s;
}
body > main > article > nav > div > a:hover{
    color:#f5d76e;
}
body > main > article > nav > ul{
    background-color: black;
    width:100%;
    min-width:100%;
    height:30px;
    display:flex;
    justify-content: start;
    align-items: center;
    justify-items: center;
}
body > main > article > nav > ul::before{
    content: " ";
    display:block;
    background-color: black;
    position: absolute;
    width:100%;
    height:30px;
    left:0;
    z-index:-1;
}
body > main > article > nav > ul > li{
    display: inline-block;
}
body > main > article > nav > ul > li > a{
    color:white;
    text-decoration: none;
    margin-right:27px;
    transition:all ease 1s;
}
body > main > article > nav > ul > li > a:hover{
    color:#f5d76e;
}
article > section{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width:100%;
    flex-direction: column;
    margin-bottom:10%;
}
.centerBox{
    width:100%;
    max-width:900px;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.777);
    min-height: 400px;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.centerBox > h1{
    font-size:73px;
    text-shadow:5px 5px black;
    color:white;
    text-transform:uppercase;
}
.centerBox > p{
    color:white;
    text-shadow:3px 3px black;
    font-size:20px;
}
.centerBox > div{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width:100%;
    gap:17px;
}
.centerBox > div > button{
    width:100%;
    max-width:200px;
    height:40px;
    border-radius: 17px;
    background-color: #f5d76e;
    font-size:20px;
    transition:all ease 1s;
}
.centerBox > div > button:hover{
    color:#f5d76e;
    background-color:black;
}