*{
    margin:0;
    padding:0;
}

:root{
    --max-width:1920px;
    --same-width:100%;
    --center-width:1278px;
}
body{
    margin-left: auto;
    margin-right:auto;
    width:100%;
    max-width:var(--max-width);
    font-size:20px;
}
main{
    width:100%;
}
header{
    width:100%;
    max-width:var(--max-width);
    background: url("../img/liner.webp");
    background-position: center center;
    min-height:100vh;
    color:white;
    text-shadow:2px 2px black;
    display:grid;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    justify-items: start;
    transition: all ease-in 3s;
}
header > nav{
    max-width:var(--center-width);
    width:100%;
    max-width:var(--center-width);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    min-height:70px;
    align-content:center;
    justify-content: center;
    align-items: center;
    transition:all 1s;
}
header > nav > strong{
    font-size:30px;
}
header > nav > div{
    min-height: 30px;
    display:grid;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    transition:all 1s;
}
header > nav > div > span:nth-child(2){
    width:57px;
    transition:all 1s;
}
header > h1{
    text-shadow:-2px -2px 3px black;
    text-shadow:2px 2px black;
}
header > nav > ul > li{
    display:inline-block;
    transition:all 1s;
}
header > nav > ul > li > a{
    color:white;
    text-shadow:black 1px 1px;
    text-decoration:none;
}
header > nav > ul > li > a:hover{
    color:#DF6951;
    transition:all 1s;
}
header > nav > button{
    width:100%;
    max-width:152px;
    height:58px;
    background-color: #DF6951;
    color:white;
    border-radius: 7px;
    border: none;
    font-size:20px;
}
@media(max-width:700px){
    
    header > nav > ul{
        display:none;
    }
    
    header > nav > div > span{
        display:block;
        width:70px;
        height:3px;
        border-radius:7px;
        background-color: #DF6951;
    }
}
@media(min-width:700px){
    body > main > header > nav > div{
        display:none;
    }
}
img{
    width:100%;
    max-width:var(--max-width);
}
body > main > article > ol,body > main > article > ul{
    margin-left:17px;
}